<footer class="" page-footer font-small">
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-12">

            <p>Developer: Mihrab Miah. Email: mihrabmiah13@gmail.com</p>

        </div>
        {{!-- <hr class="">
    <p>Developer: Mihrab Miah. Email: mihrabmiah13@gmail.com</p> --}}

</footer>