<div class="container">
    {{> header }}
    <form>
        <input class="form-control p-4" type="text" placeholder="example: Sylhet" aria-label="Search"><br>
        <input type="submit" value="Search" class="btn btn-primary p-2">
    </form>

    <br>
    <p>This app will show you the current temperature of the location.</p>
    <footer>
        <hr class="bg bg-secondary">
        <span>Developer: Mihrab Miah<br>
            Email: mihrabmiah13@gmail.com
        </span>
    </footer>


</div>