<div class="container">
    {{> header }}
    <form class="">
        <div class="form-group">
            <input class="form-control p-4" type="text" placeholder="example: Sylhet" aria-label="Search"><br>
            <input type="submit" value="Search" class="btn btn-primary p-2">
        </div>
    </form>
    <br>
    <p class="col-md-6 col-md-12">This app will show you the current temperature of the location.</p>
</div>

{{> footer }}