<div class="container">
    {{> header }}
    <form>
        <input class="form-control p-4" type="text" placeholder="example: Sylhet" aria-label="Search"><br>
        <input type="submit" value="Search" class="btn btn-primary p-2">
    </form>

    <br>
    <p>Your weather info will appear here</p>

</div>