body {
  margin: 0;
  padding: 0;
  background: url("../img/bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.6;
  z-index: -1;
}

.btn {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.p-4 {
  font-size: 1.7rem;
}

.container {
  height: 100vh;
}

p {
  padding: 10px;
  font-size: 1.3rem;
  color: #fff;
}

footer {

  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top: 0.3px solid #A9A9A9;
}

footer p {
  font-size: 1rem;
  margin-top: -10px;
}


@media screen and (max-width: 600px) {
  .p-4 {
    font-size: 1rem;
    padding: 1rem !important;
  }

  p {
    padding: 8px;
    font-size: 1rem;
    color: #fff;
  }
}

@media screen and (max-height: 500px) {
  footer {
    display: none;
  }
}